@import '../../styles/all';

.connectWallet {
  display: block;
  margin: 0 auto 15px;
  background-image: url('../../data/backgrounds/highlight-deposit.svg');
  width: 100%;
  max-width: 460px;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  font-family: $fontBold;
  cursor: pointer;

  @media all and (max-width: 600px) {
    max-width: calc(100vw - 30px);
  }
}
