@import '../../../styles/all';

.noStakesWrapper {
  .noStakesMessage {
    background-color: $colorBlueDarkShade;
    padding: 64px;
    border-radius: 10px;
    margin-bottom: 35px;

    p {
      margin-bottom: 25px;
      font-family: $fontRegular;
    }

    strong {
      font-family: $fontBold;
      display: block;
      margin-bottom: 25px;
    }

    @media all and (max-width: $screen-sm) {
      padding: 15px;
    }
  }
}
