build/
scripts/localhost/logs

node_modules/
app/node_modules/
app/dist

.idea/
scripts/*.csv

# legacy secrets files
*.secret

# Hardhat files
cache
*.dbg.json
/artifacts/*
!/artifacts/contracts/

# dotenv secret
.env

# converage
coverage.json
coverage
