@import '../../styles/all';

.buttonContainer {
  transition: transform 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  a {
    display: inline-block;
    .imgDesktop {
      margin-top: 10px;
      margin-right: 0px;
      z-index: 0;

      @media (max-width: 500px) {
        display: none;
      }
    }
    .imgMobile {
      margin-top: 10px;
      margin-right: 0px;
      z-index: 0;

      @media (min-width: 501px) {
        display: none;
      }
    }
  }
}
