@import '../../styles/all';

.buttonWrapper {
  padding: 25px 15px;

  strong {
    font-family: $fontBold;
    margin-bottom: 25px;
    display: block;
  }

  button {
    display: block;
    margin: 0 auto 15px;
    // background-image: url('../../data/backgrounds/highlight-deposit-red.svg');
    width: 100%;
    max-width: 460px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    font-family: $fontBold;
    cursor: pointer;
    color: #fff;
    border: 0;
    background: $colorYellow;
  }
}
