@import '../../styles/all';

.header {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 45px 0 55px;
}
.walletWelcome {
  text-align: center;

  h2 {
    color: $colorWhite;
    font-family: $fontRegular;
    font-size: 36px;
    word-spacing: 12px;
    margin-bottom: 16px;
  }
  p {
    color: $colorGrayLight9;
    font-family: $fontRegular;
    font-size: 18px;
    word-spacing: 2px;
  }
}
